.container-fluid{
    background-color: rgb(6, 99, 99);
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(96, 213, 213);;
        border-color: rgb(96, 213, 213);
        color: black;
    }
}