@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(107, 131, 140);
    }
    h1{
        text-align: center;
    }
    img{
        position: relative;
    }
    form{
        text-align: center;
    }

}
   
